.objeto {
	text-align: center;
}
.objeto {
	/* scale: 2.5; */
}
body, corpo {
	background-color: black;
	font-family: tamzen;
	color: white;
}
.Modal {
	position: absolute;
	top: 40px;
	color: white;
	left: 150px;
	right: 150px;
	bottom: 40px;
	background-color: black;
}
.ativo {
	background-color: green;
}
.mudanca {
	background-color: orange;
	color: black;
}
.limite {
	background-color: green;
}
.conteudo {
	text-align: center;
}
h3 {
	text-align: center;
}
.log {
	background-color: gray;
	min-width: 200px;
	height: auto
}
.container {
	display: grid;
	grid-template-columns: 10rem 10rem 10rem;
	grid-gap: 1rem;
	grid-auto-flow: row;
}

.objeto1 {
	/* border: 1px solid #ccc; */
	cursor: pointer;
	width: 100px; /* Ajuste o tamanho conforme necessário */
	height: auto; /* Ajuste o tamanho conforme necessário */
}

.objeto {
	/* border: 1px solid #ccc; */
	cursor: pointer;
	width: 40px; /* Ajuste o tamanho conforme necessário */
	height: auto; /* Ajuste o tamanho conforme necessário */
	z-index: -1;
}

.ativo .bola {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: green;
}

.bola {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: green;
	z-index: 10;
	margin-left: 60%;
	margin-top: -12px;
	cursor: pointer;

}
.borda {
	/* border: 1px solid black; */
}
.nome {
	/* background-color: #bcbcbc; */
	font-weight: bold;
	color: white;
}
.barra {
	margin-left: -38px;
}
